video_test/
.idea/
placeholder/

#Unused images
static/images/service/site_1.png
static/images/service/site_2.png
static/images/service/site_4.png
static/images/service/site_5.png
static/images/service/site_6.png
static/images/service/site_3.psd

static/images/base-header/logo.psd
static/images/base-header/logo-color.svg