{% load static %}

<div class = "profile-container">
    <h1 class ="profile-title"> P R O F I L E </h1>
    <div class = "profile-content">
        <p class = "profile-text">
            Are you planning your dream house this 2023? 
            <br>
            <br>

            Should you consider us your partner, we’ll be glad to design and build it with you.  
            <br>
            <br>

            We, at Stellarch, are a team of Architects, Engineers, Contractors and Skilled workers.
            <br>
            <br>

            Established at 2022, we have provided more clients their dream house and in a reasonable time.
            <br>
            <br>

            <button class = "btn-see-more" type = 'submit' onclick = 'location.href = {% url "profile_detail" %}'>
                See More >>
            </button>
        </p>
        <div class = "profile-image">
            <img class = "profile-portrait" src = '{% static "images/profile/portrait.png" %}'>
            <p class = "profile-arch-name"> PORCHE GRANDE by Arch. Charles Apostol</p>
        </div>
    </div>
</div>