{% load static %}

<div class="service-container">
  <h1 class="service-title">S E R V I C E S</h1>
  <div class="service-content">
    <div class="service-component">
      <img
        class="service-concept-image"
        src='{% static "images/service/concept_2.png" %}'
      />
      <p class="service-caption">Design Conceptualization</p>
      <p class="service-text">
        StellArch uses a lot of concepts and ideas that considers the
        environment around the project. This includes solar considerations,
        ordinances and provisions, wind and ventilation analysis. This is to
        make sure that the project is comfortable and energy efficient to live
        in.
      </p>
    </div>
      <!-- PLANNING BUILD ENGINEERING -->

  <div class="service-content-2">
    <div class="service-component-row" id= "planning">
      <img class = 'site-photo' src = '{% static "images/service/interior.png" %}'>
            <p class="service-caption"> Architecture and Interior </p>
      <p class="service-text">
        StellArch specializes in planning from residential to commercial
        projects from exterior designs to interiors.
      </p>
    </div>

    <div class="service-component-row" id="build-const">
      <img class = 'site-photo' src = '{% static "images/service/site_3.png" %}'>
            <p class="service-caption"> Construction and Engineering </p>
      <p class="service-text">
        StellArch can mobilize labors, materials, and construct the project on
        time. We can also provide estimations and work for the project permits
        for your needs.
        <br>
        <br>
        Stellarch also provides engineering services making sure that the project
        is stable.
      </p>
    </div>
  </div>
</div>
