/* START BACKGROUND */

body {
  background-color: #37393e;
}

.background-container {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: -1;
}

.background-image {
  margin-top: 6rem;
  flex-shrink: 0;
  min-width: 90%;
  min-height: 100%;
  max-width: 100%;
  opacity: 0;
  transition: opacity 2s;
}

/* END BACKGROUND */

/* START GENERIC COMPONENTS */

.contact-title,
.project-title,
.service-title,
.profile-title {
  position: relative;
  color: white;
  background-color: black;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  right: 30%;
  transition: right 2s;
}

.service-text,
.profile-text {
  font-size: 1rem;
  color: black;
  text-align: justify;
  text-justify: inner-word;
  padding-bottom: 2rem;
  background-color: #80705d;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 600px) {
  .service-text,
  .profile-text {
    font-size: 0.9rem;
    padding-top: 1rem;
  }
}

.project-container,
.service-container,
.profile-container {
  transition: opacity 1.5s;
}

.service-container {
  height: auto;
}

.hide {
  opacity: 0;
}

/* END GENERIC COMPONENTS */

/* START PROFILE */

.project-content,
.profile-content {
  position: relative;
  background-color: #b39964;
  transition: left 2s;
  display: flex;
  align-items: center;
  flex-wrap: row wrap;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .profile-content {
    flex-direction: column-reverse;
  }
}

.profile-text {
  min-width: 60%;
  max-width: 60%;
}

@media screen and (max-width: 600px) {
  .profile-text {
    margin-top: 2rem;
    min-width: 80%;
    max-width: 80%;
  }
}

.profile-portrait {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-shrink: 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
  transform: scale(0.9);
}

@media screen and (max-width: 600px) {
  .profile-portrait {
    transform: scale(0.7, 0.7);
  }
}

.profile-image {
  /* none */
}

.profile-portrait {
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 600px) {
  .profile-image {
    margin: -4rem;
  }
}

.profile-arch-name {
  position: relative;
  font-style: italic;
  font-size: 1rem;
  font-weight: 700;
  margin-top: -3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .profile-arch-name {
    margin-top: -5.5rem;
    font-size: 0.75rem;
    margin-bottom: 4rem;
    min-width: 10rem;
  }
}

/* END PROFILE */

/* START SERVICE */

.service-component {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 5%;
  background-color: #80705d;
}

.service-component {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}

.project-content,
.service-content {
  position: relative;
  justify-content: center;
  background-color: #b39964;
  transition: left 2s;
  display: flex;
  align-items: center;
}

.service-content {
  flex-direction: column;
}

.service-concept-image {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 70%;
  min-width: 70%;
  flex-shrink: 0;
  text-align: center;
  border: 0.2rem dashed;
  border-radius: 2rem;
}

@media screen and (max-width: 600px) {
  .service-concept-image {
    margin-top: 1rem;
    max-width: 95%;
    min-width: 95%;
    margin-bottom: 0.75rem;
  }
}

.project-caption,
.service-caption {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .service-caption {
    font-size: 0.75rem;
  }
}

.service-text {
  text-justify: inner-word;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* START ARCH-BUILD-ENGINEERING */

.service-content-2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 80%;
  flex-flow: row nowrap;
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .service-content-2 {
    flex-direction: column;
  }
}

.project-component-row,
.service-component-row {
  display: flex;
  width: 45rem;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 2rem;
  align-content: start;
  background-color: #80705d;
}

@media screen and (max-width: 800px) {
  .service-component-row {
    width: 100%;
  }
}

.service-component-row > .service-caption {
  height: 2rem;
}

.service-component-row > .service-text {
  padding-top: 0;
}

.project-image,
.site-photo {
  max-width: 100%;
  max-height: 100%;
}

/* END ARCH-BUILD-ENGINEERING */

/* END SERVICE */

/* START PROJECTS */

.contact-flex-container,
.project-content-flex {
  display: flex;
  flex-flow: row wrap;
  max-width: 80%;
  gap: 2rem;
}

.project-content-flex {
  justify-content: center;
}

.project-component-row {
  align-content: start;
  margin-top: 2rem;
  transition: all 0.5s;
}

.socmed-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 8rem;
}

.contact-container > div > a > img:hover,
.project-component-row:hover {
  cursor: pointer;
  transition: all 0.5s;
  cursor: pointer;
  transform: scale(1.1);
  filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-15deg)
    saturate(300%) contrast(0.8);
}

.project-component-row:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px 2px #abb3b8;
  filter: grayscale(0.75);
  color: #980808;
}

/* END PROJECT */

/* START CONTACT */

.contact-content {
  position: relative;
  justify-content: center;
  transition: left 2s;
  display: flex;
  background-color: #b39964;
  align-items: center;
}

.main-contact-flex-container {
  min-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  column-gap: 2rem;
}

.contact-flex-container {
  margin-bottom: 2rem;
  justify-content: space-between;
  background-color: #80705d;
  width: 50rem;
}

@media screen and (max-width: 1000px) {
  .contact-flex-container {
    justify-content: center;
    background-color: #b39964;
  }
}

textarea {
  height: 15rem;
  resize: none;
}

.contact-flex-item {
  background-color: #80705d;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 23rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .contact-flex-item {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    max-width: 80%;
    width: 100rem;
  }
}

#contacts-input {
  padding-left: 2rem;
}

#contacts-enum {
  padding-right: 2rem;
}

#contacts {
  align-items: flex-start;
}

div > #caption {
  font-size: 1.2rem;
  color: #b39964;
  background-color: #584c39;
  text-align: center;
  border: #584c39 1rem solid;
}

.map {
  border: 0.5rem solid;
  border-color: #80705d;
  max-width: 80%;
}

.map,
.contact-flex-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

iframe {
  background-color: #80705d;
}

textarea,
input {
  width: 100%;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  border-radius: 0.25rem;
  border: none;
}

@media screen and (max-width: 1000px) {
  textarea,
  input {
    width: 23rem;
  }
}

@media screen and (max-width: 800px) {
  textarea,
  input {
    width: 18rem;
  }
}

@media screen and (max-width: 500px) {
  textarea,
  input {
    width: 15rem;
  }
}

input {
  height: 1.5rem;
}

.contact-flex-item > p {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

h4 {
  color: black;
  margin-top: 1.5rem;
  font-style: italic;
}

/* END CONTACT */

/* BUTTONS */

.btn-send,
.btn-see-more {
  margin-top: 1rem;
  font-size: 1.25rem;
  padding: 0.3rem;
  background-color: #584c39;
  color: white;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.5s;
}

.btn-send:hover,
.btn-see-more:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #980808;
}

.btn-send {
  position: relative;
  left: 15rem;
  width: 5rem;
}

@media screen and (max-width: 600px) {
  .btn-send {
    left: 10rem;
  }
}

video {
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 70%;
  width: 100%;
  height: 45vw;
  background-color: #000000;
}
